* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.containerBtn {
  display: flex;
  justify-content: center;
}

button {
  background-color: rgb(238, 255, 0);
  width: 150px;
  height: 30px;
  font-weight: 900;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 90vh;
}

.box {
  flex: auto;
}

/* .box:hover {
  background-color: blue;
  transition-duration: 0.1s;
  transition-timing-function: ease-out 0.3s;
} */